extends layout

block headScripts

block bodyScripts

block content

  .login
    br
    br
    
    .container
      .row
        .col-xs-12
          h1= pageHeader.header
    
          p An Error Ocurred!!!!!!!
    
          p !{(content).replace(/\n/g, '<br/>')}