extends layout

block headScripts

block bodyScripts

block content

  .main
    br
    br

    .container
      .row

        .col-xs-12
          h1= pageHeader.header

          p Resources for Election App 2016.